<a href="https://colab.research.google.com/github/MichaelGeremy/Advanced-Classiffication-Hackathon-/blob/main/Data_Analysis_Turing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
# prompt: load file named cardio_base.csv from files

import pandas as pd
cardio_base = pd.read_csv('cardio_base.csv')

In [ ]:
# prompt: display df

cardio_base

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0          0  18393       2     168    62.0    110     80            1      0
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
3          3  17623       2     169    82.0    150    100            1      0
4          4  17474       1     156    56.0    100     60            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

[70000 rows x 9 columns]

In [ ]:
# prompt: sort age group ascending

cardio_base.sort_values(by='age', inplace=True)
cardio_base

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
22343  31922  10798       2     175    92.0    100     60            1      0
30666  43842  10859       1     159    59.0    120     80            1      0
6219    8850  10878       1     175    59.0    120     80            1      0
55905  79749  10964       1     160    59.0    110     70            1      0
31762  45362  14275       1     164   105.0    150    110            3      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
36603  52297  23687       2     163    55.0    120     80            3      1
20931  29892  23690       1     165    63.0    150     90            2      0
50714  72373  23692       2     167    68.0    120     80            2      0
68005  97124  23701       1     178    75.0    120     80            1      0
57191  81643  23713       2     175    75.0    120     80            1      0

[70000 rows x 9 columns]

In [ ]:
# prompt: How much heavier is the age group with the highest average weight than the age group with the
# lowest weight?

max_weight_age_group = cardio_base.groupby('age')['weight'].mean().idxmax()
min_weight_age_group = cardio_base.groupby('age')['weight'].mean().idxmin()

max_weight = cardio_base[cardio_base['age'] == max_weight_age_group]['weight'].mean()
min_weight = cardio_base[cardio_base['age'] == min_weight_age_group]['weight'].mean()

weight_difference = max_weight - min_weight

print("The age group with the highest average weight is", max_weight_age_group, "years old.")
print("The age group with the lowest average weight is", min_weight_age_group, "years old.")
print("The difference in average weight between these two age groups is", weight_difference, "kg.")

The age group with the highest average weight is 15086 years old.
The age group with the lowest average weight is 21582 years old.
The difference in average weight between these two age groups is 154.0 kg.

In [ ]:
by what percentage is the heavier one?

In [ ]:
# prompt: by what percentage is the heavier one?

percentage_difference = (max_weight - min_weight) / min_weight * 100
print("The heavier age group has an average weight that is", percentage_difference, "% greater than the lighter age group.")

The heavier age group has an average weight that is 1400.0 % greater than the lighter age group.

In [ ]:
154/15086*100

1.0208139997348535

In [ ]:
# prompt: add a column showing average weight. Sort=true

cardio_base['average_weight'] = cardio_base['weight'].mean()
cardio_base.sort_values(by='average_weight', inplace=True)
print(cardio_base)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke  \
22343  31922  10798       2     175    92.0    100     60            1      0
59332  84720  20949       1     168    65.0    140     90            2      0
15337  21916  20949       2     171    75.0    160    100            1      1
9550   13607  20949       1     171    70.0    120     70            2      0
28933  41345  20949       1     164    86.0    140     90            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
49370  70493  18367       1     160    57.0    120     80            1      0
20785  29679  18367       1     160    67.0    120     80            1      0
24642  35187  18367       1     158    72.0    140    100            3      0
66863  95463  18367       1     155    60.0    120     80            1      0
57191  81643  23713       2     175    75.0    120     80            1      0

       average_weight
22343        74.20569
59332        74.20569
15337        74.20569
9550         74.20569
28933        74.20569
...               ...
49370        74.20569
20785        74.20569
24642        74.20569
66863        74.20569
57191        74.20569

[70000 rows x 10 columns]

In [ ]:
# prompt: Highest to the lowest average weight

cardio_base.sort_values(by='average_weight', ascending=False)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,average_weight
22343,31922,10798,2,175,92.0,100,60,1,0,74.20569
22029,31463,14291,2,170,67.0,120,80,1,0,74.20569
20013,28586,14295,2,172,79.0,120,80,3,0,74.20569
12243,17483,14294,2,172,74.0,120,80,1,0,74.20569
12678,18100,14308,1,166,44.0,90,60,1,0,74.20569
...,...,...,...,...,...,...,...,...,...,...
20931,29892,23690,1,165,63.0,150,90,2,0,74.20569
50714,72373,23692,2,167,68.0,120,80,2,0,74.20569
28545,40813,23668,2,166,89.0,160,100,1,0,74.20569
67316,96115,23655,2,174,80.0,140,90,1,0,74.20569
57191,81643,23713,2,175,75.0,120,80,1,0,74.20569

In [ ]:
((92-75)/75)*100

22.666666666666664

In [ ]:
# prompt: sort  by weight

cardio_base.sort_values(by='weight', inplace=True)
print(cardio_base)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke  \
57858  82567  18804       2     165    10.0    180   1100            2      0
33817  48318  21582       2     178    11.0    130     90            1      0
60188  85931  21855       1     162    21.0    120     80            2      0
29488  42156  20408       2     177    22.0    120     80            1      1
26806  38312  23284       1     157    23.0    110     80            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
4743    6716  17218       2     176   180.0    140     90            1      0
36780  52564  19630       1     161   181.0    180   1100            2      0
61285  87498  20939       2     180   183.0    110     80            3      0
50413  71945  15117       2     180   200.0    150     90            1      0
435      618  16765       1     186   200.0    130     70            1      0

       average_weight
57858        74.20569
33817        74.20569
60188        74.20569
29488        74.20569
26806        74.20569
...               ...
4743         74.20569
36780        74.20569
61285        74.20569
50413        74.20569
435          74.20569

[70000 rows x 10 columns]

In [ ]:
(200-10)/10*100

1900.0

In [ ]:
# prompt: convert age into years, round of to the nearest whole number
# replace the column with the values

import numpy as np

cardio_base['age'] = np.round(cardio_base['age'] / 365, 0).astype(int)

In [ ]:
# prompt: display df

cardio_base

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,average_weight
57858,82567,52,2,165,10.0,180,1100,2,0,74.20569
33817,48318,59,2,178,11.0,130,90,1,0,74.20569
60188,85931,60,1,162,21.0,120,80,2,0,74.20569
29488,42156,56,2,177,22.0,120,80,1,1,74.20569
26806,38312,64,1,157,23.0,110,80,1,0,74.20569
...,...,...,...,...,...,...,...,...,...,...
4743,6716,47,2,176,180.0,140,90,1,0,74.20569
36780,52564,54,1,161,181.0,180,1100,2,0,74.20569
61285,87498,57,2,180,183.0,110,80,3,0,74.20569
50413,71945,41,2,180,200.0,150,90,1,0,74.20569
435,618,46,1,186,200.0,130,70,1,0,74.20569

In [ ]:
# prompt: Data Analysis
# Question 2 of 13
# Do people over 50 have higher cholesterol levels than the rest?
# • Quick Note
# Question"
# If the question is same as the last one or showing blank content, please click "Reload
# Yes, their cholesterol level is 29% higher on average
# Yes, their cholesterol level is 14% higher on average
# Yes, their cholesterol level is 19% higher on average
# No, people over 50 have 7% lower

# Filter the data for people over 50
cardio_over_50 = cardio_base[cardio_base['age'] > 50]

# Calculate the mean cholesterol level for people over 50
mean_chol_over_50 = cardio_over_50['cholesterol'].mean()

# Filter the data for people under or equal to 50
cardio_under_50 = cardio_base[cardio_base['age'] <= 50]

# Calculate the mean cholesterol level for people under or equal to 50
mean_chol_under_50 = cardio_under_50['cholesterol'].mean()

# Calculate the percentage difference in cholesterol levels
percentage_difference = (mean_chol_over_50 - mean_chol_under_50) / mean_chol_under_50 * 100

# Print the result
print("People over 50 have", percentage_difference, "% higher cholesterol levels than people under or equal to 50.")

People over 50 have 14.655263009159661 % higher cholesterol levels than people under or equal to 50.

In [ ]:
# prompt: Data Analysis
# Question 3 of 13
# Are men more likely to be a smoker than women?
# The data contains information to identify gender IDs!|
# * Quick Note
# Yes, men are 12x more likely to be smokers
# Yes, men are 7x more likely to be smokers
# Similar portion of men and women are smokers
# No, women are 12x more likely to be smokers
# A

# Calculate the proportion of smokers for each gender
proportion_male_smokers = cardio_base[cardio_base['gender'] == 1]['smoke'].mean()
proportion_female_smokers = cardio_base[cardio_base['gender'] == 2]['smoke'].mean()

# Calculate the ratio of male to female smokers
ratio = proportion_male_smokers / proportion_female_smokers

# Print the result
print("Men are", ratio, "times more likely to be smokers than women.")

Men are 0.08158048751842666 times more likely to be smokers than women.

In [ ]:
# prompt: Data Analysis
# Question 4 of 13
# How tall are the tallest 1% of people
# • Quick Note
# Question"
# If the question is same as the last one or showing blank content, please click "Reload
# They are taller than 186cm
# They are taller than 184cm
# They are taller than 147 cm
# They are taller than 191cm
# They are taller than 175cm

# Find the 99th percentile of height
height_99th_percentile = cardio_base['height'].quantile(0.99)

# Print the result
print("The tallest 1% of people are taller than", height_99th_percentile, "cm.")

The tallest 1% of people are taller than 184.0 cm.

In [ ]:
# prompt: Data Analysis
# Question 5 of 13
# Blood pressure levels (ap_hi, ap_low)
# Which two features have the highest spearman rank correlation?
# Gender and height
# Age and weight
# Age and blood pressure
# • Quick Note
# If the question is same as the last one or showing blank content, please click "Reload
# Question"

correlation_matrix = cardio_base.corr(method='spearman')
print(correlation_matrix)

                      id       age    gender    height    weight     ap_hi  \
id              1.000000  0.002399  0.003506 -0.001886 -0.001292  0.003258
age             0.002399  1.000000 -0.020697 -0.083634  0.062979  0.220780
gender          0.003506 -0.020697  1.000000  0.533805  0.172480  0.063174
height         -0.001886 -0.083634  0.533805  1.000000  0.313569  0.019381
weight         -0.001292  0.062979  0.172480  0.313569  1.000000  0.277749
ap_hi           0.003258  0.220780  0.063174  0.019381  0.277749  1.000000
ap_lo          -0.000238  0.157957  0.066374  0.030534  0.254420  0.735436
cholesterol     0.005706  0.141935 -0.035730 -0.058940  0.137908  0.208722
smoke          -0.003697 -0.047535  0.338135  0.197632  0.071676  0.028929
average_weight       NaN       NaN       NaN       NaN       NaN       NaN

                   ap_lo  cholesterol     smoke  average_weight
id             -0.000238     0.005706 -0.003697             NaN
age             0.157957     0.141935 -0.047535             NaN
gender          0.066374    -0.035730  0.338135             NaN
height          0.030534    -0.058940  0.197632             NaN
weight          0.254420     0.137908  0.071676             NaN
ap_hi           0.735436     0.208722  0.028929             NaN
ap_lo           1.000000     0.167401  0.026172             NaN
cholesterol     0.167401     1.000000  0.015220             NaN
smoke           0.026172     0.015220  1.000000             NaN
average_weight       NaN          NaN       NaN             NaN

In [ ]:
# prompt: sort highest spearmna correration

sorted_correlations = correlation_matrix.unstack().sort_values(kind="quicksort", ascending=False)
print(sorted_correlations)

id              id                1.0
age             age               1.0
cholesterol     cholesterol       1.0
ap_lo           ap_lo             1.0
ap_hi           ap_hi             1.0
                                 ...
average_weight  ap_hi             NaN
                ap_lo             NaN
                cholesterol       NaN
                smoke             NaN
                average_weight    NaN
Length: 100, dtype: float64

In [ ]:
# prompt: select one answer
# went Yester
# Data Analysis
# Question 6 of 13
# 7%
# What percentage of people are more than 2 standard deviations far from the average height?
# 2%
# 11%
# 3%
# • Quick Note
# Question"
# If the question is same as the last one or showing blank content, please click "Reload
# 5%

# Calculate the mean and standard deviation of height
mean_height = cardio_base['height'].mean()
std_height = cardio_base['height'].std()

# Calculate the lower and upper bounds for the 2 standard deviations
lower_bound = mean_height - 2 * std_height
upper_bound = mean_height + 2 * std_height

# Filter the data for people outside the bounds
outliers = cardio_base[(cardio_base['height'] < lower_bound) | (cardio_base['height'] > upper_bound)]

# Calculate the percentage of outliers
percentage_outliers = len(outliers) / len(cardio_base) * 100

# Print the result
print("The percentage of people more than 2 standard deviations far from the average height is", percentage_outliers, "%")

The percentage of people more than 2 standard deviations far from the average height is 3.3357142857142854 %

In [ ]:
# prompt: load cardio_alco.csv

cardio_alco = pd.read_csv('cardio_alco.csv')

In [ ]:
# prompt: Data Analysis
# Question 7 of 13
# What percentage of the population over 50 years old consume alcohol?
# Also use the cardio_alco.csv and merge the datasets on ID. Ignore those persons, where we have no
# alcohol consumption information!
# • Quick Note
# Question"
# If the question is same as the last one or showing blank content, please click "Reload
# 63%
# 8%
# 5%
# 53%
# 61%

# Merge the two datasets on ID
cardio_alco_merged = cardio_base.merge(cardio_alco, on='id', how='inner')

# Filter the data for people over 50
cardio_alco_over_50 = cardio_alco_merged[cardio_alco_merged['age'] > 50]

# Calculate the proportion of people over 50 who consume alcohol
proportion_over_50_alco = cardio_alco_over_50['alco'].mean()

# Calculate the percentage
percentage_over_50_alco = proportion_over_50_alco * 100

# Print the result
print("The percentage of the population over 50 years old who consume alcohol is", percentage_over_50_alco, "%")

KeyError: 'id'

In [ ]:
print(cardio_base.head())

          id  age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke  \
57858  82567   52       2     165    10.0    180   1100            2      0
33817  48318   59       2     178    11.0    130     90            1      0
60188  85931   60       1     162    21.0    120     80            2      0
29488  42156   56       2     177    22.0    120     80            1      1
26806  38312   64       1     157    23.0    110     80            1      0

       average_weight
57858        74.20569
33817        74.20569
60188        74.20569
29488        74.20569
26806        74.20569

In [ ]:
print(cardio_alco.head())

  id;alco
0    44;0
1    45;0
2    46;0
3    47;0
4    49;0

In [ ]:
cardio_base['id'] = cardio_base.index

In [ ]:
# prompt: separate the  id and alco columns the print df
# the input data is separated by ;

# Read the CSV file with the specified separator
cardio_alco = pd.read_csv('cardio_alco.csv', sep=';')

# Print the first few rows of the DataFrame
print(cardio_alco.head())

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [ ]:
# prompt: Data Analysis
# Question 7 of 13
# What percentage of the population over 50 years old consume alcohol?
# Also use the cardio_alco.csv and merge the datasets on ID. Ignore those persons, where we have no
# alcohol consumption information!
# • Quick Note
# Question"
# If the question is same as the last one or showing blank content, please click "Reload
# 63%
# 8%
# 5%
# 53%
# 61%

# Merge the two datasets on ID
cardio_alco_merged = cardio_base.merge(cardio_alco, on='id', how='inner')

# Filter the data for people over 50
cardio_alco_over_50 = cardio_alco_merged[cardio_alco_merged['age'] > 50]

# Calculate the proportion of people over 50 who consume alcohol
proportion_over_50_alco = cardio_alco_over_50['alco'].mean()

# Calculate the percentage
percentage_over_50_alco = proportion_over_50_alco * 100

# Print the result
print("The percentage of the population over 50 years old who consume alcohol is", percentage_over_50_alco, "%")

The percentage of the population over 50 years old who consume alcohol is 5.39906103286385 %

In [ ]:
import pandas as pd
import numpy as np

# Calculate the average of systolic and diastolic blood pressure
def mean_blood_pressure(row):
  return (row['ap_hi'] + row['ap_lo']) / 2

cardio_base['mean_bp'] = cardio_base.apply(mean_blood_pressure, axis=1)

# Calculate the mean blood pressure for men and women
mean_bp_men = cardio_base[cardio_base['gender'] == 1]['mean_bp'].mean()
mean_bp_women = cardio_base[cardio_base['gender'] == 0]['mean_bp'].mean()

# Calculate the difference in mean blood pressure
difference = mean_bp_men - mean_bp_women

# Calculate the standard deviation of blood pressure for men and women
std_bp_men = cardio_base[cardio_base['gender'] == 1]['mean_bp'].std()
std_bp_women = cardio_base[cardio_base['gender'] == 0]['mean_bp'].std()

# Calculate the standard error of the difference in mean blood pressure
se_difference = np.sqrt((std_bp_men ** 2 / len(cardio_base[cardio_base['gender'] == 1])) + (std_bp_women ** 2 / len(cardio_base[cardio_base['gender'] == 0])))

# Calculate the 95% confidence interval for the difference in mean blood pressure
lower_bound = difference - 1.96 * se_difference
upper_bound = difference + 1.96 * se_difference

# Print the result
print("We are 95% confident that the difference in mean blood pressure between men and women is between", lower_bound, "and", upper_bound, "mmHg.")

# Check if the difference is significant
if lower_bound > 0:
  print("Men have higher blood pressure than women with 95% confidence.")
else:
  print("The difference in blood pressure between men and women is not significant with 95% confidence.")

ZeroDivisionError: float division by zero

In [ ]:
import pandas as pd
import numpy as np

# Load the data
cardio_base = pd.read_csv("cardio_base.csv")

# Calculate the average of systolic and diastolic blood pressure
def mean_blood_pressure(row):
  return (row['ap_hi'] + row['ap_lo']) / 2

cardio_base['mean_bp'] = cardio_base.apply(mean_blood_pressure, axis=1)

# Calculate the mean blood pressure for men and women
mean_bp_men = cardio_base[cardio_base['gender'] == 1]['mean_bp'].mean()
mean_bp_women = cardio_base[cardio_base['gender'] == 0]['mean_bp'].mean()

# Check if either group has zero data points
n_men = len(cardio_base[cardio_base['gender'] == 1])
n_women = len(cardio_base[cardio_base['gender'] == 0])
if n_men == 0 or n_women == 0:
  print("Error: One or both groups have no data points.")
else:
  # Calculate the difference in mean blood pressure
  difference = mean_bp_men - mean_bp_women

  # Calculate the standard deviation of blood pressure for men and women
  std_bp_men = cardio_base[cardio_base['gender'] == 1]['mean_bp'].std()
  std_bp_women = cardio_base[cardio_base['gender'] == 0]['mean_bp'].std()

  # Calculate the standard error of the difference in mean blood pressure
  se_difference = np.sqrt((std_bp_men ** 2 / n_men) + (std_bp_women ** 2 / n_women))

  # Calculate the 95% confidence interval for the difference in mean blood pressure
  lower_bound = difference - 1.96 * se_difference
  upper_bound = difference + 1.96 * se_difference

# Print the result
print("We are 95% confident that the difference in mean blood pressure between men and women is between", lower_bound, "and", upper_bound, "mmHg.")
if lower_bound > 0:
  print("This suggests that men have higher blood pressure than women on average.")

Error: One or both groups have no data points.
We are 95% confident that the difference in mean blood pressure between men and women is between 147.93897584235248 and 180.77948130050464 mmHg.
This suggests that men have higher blood pressure than women on average.

In [ ]:
# prompt: load covid_cases.csv

import pandas as pd

covid_cases = pd.read_csv('covid_data.csv')

print(covid_cases.head())

      location        date  new_cases  new_deaths  population  \
0  Afghanistan  2019-12-31          0           0  38928341.0
1  Afghanistan  2020-01-01          0           0  38928341.0
2  Afghanistan  2020-01-02          0           0  38928341.0
3  Afghanistan  2020-01-03          0           0  38928341.0
4  Afghanistan  2020-01-04          0           0  38928341.0

   aged_65_older_percent  gdp_per_capita  hospital_beds_per_thousand
0                  2.581        1803.987                         0.5
1                  2.581        1803.987                         0.5
2                  2.581        1803.987                         0.5
3                  2.581        1803.987                         0.5
4                  2.581        1803.987                         0.5

In [ ]:
# prompt: EXPLORE THE COLUMNS

print(covid_cases.columns)

Index(['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand'],
      dtype='object')

In [ ]:
# Calculate the total number of cases and deaths
total_cases = covid_cases['new_cases'].sum()
total_deaths = covid_cases['new_deaths'].sum()

# Calculate the case fatality rate
cfr = total_deaths / total_cases * 100

# Print the results
print("Total cases:", total_cases)
print("Total deaths:", total_deaths)
print("Case fatality rate:", cfr)


# Group the data by country and calculate the total cases and deaths for each country
country_totals = covid_cases.groupby('location').agg({'new_cases': 'sum', 'new_deaths': 'sum'})

# Sort the countries by total cases in descending order
country_totals = country_totals.sort_values(by='new_cases', ascending=False)

# Print the top 10 countries with the highest total cases
print(country_totals.head(10))


# Group the data by country and calculate the case fatality rate for each country
country_cfr = covid_cases.groupby('location').agg({'new_cases': 'sum', 'new_deaths': 'sum'})
country_cfr['cfr'] = country_cfr['new_deaths'] / country_cfr['new_cases'] * 100

# Sort the countries by case fatality rate in descending order
country_cfr = country_cfr.sort_values(by='cfr', ascending=False)

# Print the top 10 countries with the highest case fatality rate
print(country_cfr.head(10))


# Group the data by country and calculate the total cases and deaths for each country
country_totals = covid_cases.groupby('location').agg({'new_cases': 'sum', 'new_deaths': 'sum'})

# Calculate the percentage of cases and deaths for each country
country_totals['cases_pct'] = country_totals['new_cases'] / total_cases * 100
country_totals['deaths_pct'] = country_totals['new_deaths'] / total_deaths * 100

# Sort the countries by percentage of cases in descending order
country_totals = country_totals

Total cases: 14420924
Total deaths: 822390
Case fatality rate: 5.702755246473804
                new_cases  new_deaths
location
World             7210462      411195
United States     1979850      112006
Brazil             739503       38406
Russia             485253        6141
United Kingdom     289140       40883
India              276583        7745
Spain              241966       27136
Italy              235561       34043
Peru               203736        5738
Germany            184861        8729
                           new_cases  new_deaths        cfr
location
Yemen                            524         127  24.236641
Sint Maarten (Dutch part)         77          15  19.480519
France                        154591       29296  18.950650
Belgium                        59437        9619  16.183522
Italy                         235561       34043  14.451883
United Kingdom                289140       40883  14.139517
Hungary                         4017         550  13.691810
Netherlands                    47903        6031  12.590026
British Virgin Islands             8           1  12.500000
Mexico                        124301       14649  11.785102

In [ ]:
# prompt: sort  covid df acording to new_cases

covid_cases.sort_values(by='new_cases', inplace=True)

In [ ]:
# prompt: print covid df

print(covid_cases)

        iso_code continent       location        date  total_cases  new_cases  \
0            AFG      Asia    Afghanistan  2020-01-05          NaN        0.0
251296  OWID_NAM       NaN  North America  2023-08-25  124381570.0        0.0
251295  OWID_NAM       NaN  North America  2023-08-24  124381570.0        0.0
251294  OWID_NAM       NaN  North America  2023-08-23  124381570.0        0.0
251293  OWID_NAM       NaN  North America  2023-08-22  124381570.0        0.0
...          ...       ...            ...         ...          ...        ...
385958  OWID_WRL       NaN          World  2024-04-08          NaN        NaN
385959  OWID_WRL       NaN          World  2024-04-09          NaN        NaN
385960  OWID_WRL       NaN          World  2024-04-10          NaN        NaN
385961  OWID_WRL       NaN          World  2024-04-11          NaN        NaN
390360       ZWE    Africa       Zimbabwe  2023-07-30     265693.0        NaN

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         0.0                  NaN
251296            1257.857     1611243.0         0.0              140.429
251295            1257.857     1611243.0         0.0              140.429
251294            1257.857     1611243.0         0.0              140.429
251293            1257.857     1611243.0         0.0              140.429
...                    ...           ...         ...                  ...
385958                 NaN           NaN         NaN                  NaN
385959                 NaN           NaN         NaN                  NaN
385960                 NaN           NaN         NaN                  NaN
385961                 NaN           NaN         NaN                  NaN
390360                 NaN        5712.0         1.0                0.143

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0       ...           NaN                  37.746                       0.500
251296  ...           NaN                     NaN                         NaN
251295  ...           NaN                     NaN                         NaN
251294  ...           NaN                     NaN                         NaN
251293  ...           NaN                     NaN                         NaN
...     ...           ...                     ...                         ...
385958  ...        34.635                  60.130                       2.705
385959  ...        34.635                  60.130                       2.705
385960  ...        34.635                  60.130                       2.705
385961  ...        34.635                  60.130                       2.705
390360  ...        30.700                  36.791                       1.700

        life_expectancy  human_development_index    population  \
0                 64.83                    0.511  4.112877e+07
251296              NaN                      NaN  6.003237e+08
251295              NaN                      NaN  6.003237e+08
251294              NaN                      NaN  6.003237e+08
251293              NaN                      NaN  6.003237e+08
...                 ...                      ...           ...
385958            72.58                    0.737  7.975105e+09
385959            72.58                    0.737  7.975105e+09
385960            72.58                    0.737  7.975105e+09
385961            72.58                    0.737  7.975105e+09
390360            61.49                    0.571  1.632054e+07

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                        NaN                          NaN
251296                                   NaN                          NaN
251295                                   NaN                          NaN
251294                                   NaN                          NaN
251293                                   NaN                          NaN
...                                      ...                          ...
385958                                   NaN                          NaN
385959                                   NaN                          NaN
385960                                   NaN                          NaN
385961                                   NaN                          NaN
390360                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
0                    NaN                                      NaN
251296               NaN                                      NaN
251295               NaN                                      NaN
251294               NaN                                      NaN
251293               NaN                                      NaN
...                  ...                                      ...
385958               NaN                                      NaN
385959               NaN                                      NaN
385960               NaN                                      NaN
385961               NaN                                      NaN
390360               NaN                                      NaN

[390606 rows x 67 columns]

In [ ]:
# prompt: generate covid dataframe

import pandas as pd

# Read the CSV file into a DataFrame
covid_cases = pd.read_csv('covid_data.csv')

# Print the first few rows of the DataFrame
print(covid_cases.head())

      location        date  new_cases  new_deaths  population  \
0  Afghanistan  2019-12-31          0           0  38928341.0
1  Afghanistan  2020-01-01          0           0  38928341.0
2  Afghanistan  2020-01-02          0           0  38928341.0
3  Afghanistan  2020-01-03          0           0  38928341.0
4  Afghanistan  2020-01-04          0           0  38928341.0

   aged_65_older_percent  gdp_per_capita  hospital_beds_per_thousand
0                  2.581        1803.987                         0.5
1                  2.581        1803.987                         0.5
2                  2.581        1803.987                         0.5
3                  2.581        1803.987                         0.5
4                  2.581        1803.987                         0.5

In [ ]:
# prompt: what date did new cases hit 10000

# Filter the data for rows where new_cases is greater than or equal to 10000
filtered_data = covid_cases[covid_cases['new_cases'] >= 10000]

# Get the date of the first row in the filtered data
first_date = filtered_data['date'].iloc[0]

# Print the first date
print("New cases hit 10000 on:", first_date)

New cases hit 10000 on: 2020-05-07